.container.menu {
  margin-top: 30px;
  padding-bottom: 30px;
  
}

.menu-items .card {
  width: 20rem;
  margin: 15px 0;
}

.menu-items img {
    width: auto;
  min-height: 150px;
  max-height: 150px;
  
}

section.menu-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575px) {
  .menu-items .card {
    width: 100%;
    margin: 15px 0;
  }
}
