.container.menu {
  margin-top: 30px;
  padding-bottom: 30px;
}

.menu header h2 {
  font-family: SOV_naga;
  font-size: 400%;
  color: #c90;
  padding-bottom: 0;
  margin-bottom: 0;
}

.menu header small {
  position: relative;
  top: -20px;
  color: gray;
}

.menu-list {
  list-style: none;
  max-width: 850px;
  margin: 50px auto;
}

.menu-list header {
  border-bottom: 1px dotted #c90;
  color: #c90;
  margin-bottom: 7px;
}

.menu-list h4 {
  font-family: SOV_naga;
  font-size: 300%;
  margin-bottom: -5px;
  /* margin-left: -30px; */
  text-align: center;
}

.menu-list h5 {
  margin-bottom: 0;
}

.menu-list p {
  font-size: 90%;
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575px) {
  .menu-items .card {
    width: 100%;
    margin: 15px 0;
  }
  .menu-list {
    padding: 0;
    margin: 40px auto;
  }
  .menu-list h4 {
    margin-left: 0px;
  }
}
