<footer class="footer">
  <div class="container-fluid">
    <div class="container">
      <div class="socialmedia">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
      <address>

        <i class="fa fa-phone" aria-hidden="true"></i>
        <a href="tel:033844768">03-384 4768</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-home" aria-hidden="true"></i>
        <a target="_blank" href="geo:172.738662,-43.561500">
                          85 Main Road, Christchurch
              </a>


      </address>
      <div class="openinghr">
        <!-- <h5>Opening Hours</h5> -->
        <h5>Open 7 Days | <time datetime="5-9pm">5 pm - 9 pm</time></h5>
      </div>


      <p class="copyright">COPYRIGHT © <strong>Money Bag Thai</strong> 2017 All rights reserved.
        <br>Design by <a class="text-muted" href="https://nuirattapon.com" target="_blank">Nui Rattapon</a>

      </p>

    </div>

  </div>
</footer>

<!-- <div class="row">
  <header class="col-md-4">
    <img class="footer-logo" [src]="logoPath" alt="Money Bag Thai">
  </header>
  <article class="col-md-8 contact">
    <i class="fa fa-phone" aria-hidden="true"></i>
    <a href="tel:033844768">03-384 4768</a><br>

    <address>
      <a target="_blank" href="geo:172.738662,-43.561500">
          85 Main Road, Redcliffs<br>
          Christchurch NZ
        </a>
    </address>
  </article>
</div> -->
