<footer class="footer">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <header class="col-md-4">
          <img class="footer-logo" [src]="logoPath" alt="Money Bag Thai">
        </header>
        <article class="col-md-8 contact">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a href="tel:033844768">03-384 4768</a><br>
          
          <address>
            <a target="_blank" href="geo:172.738662,-43.561500">
              85 Main Road, Redcliffs<br>
              Christchurch NZ
            </a>
          </address>
        </article>
      </div>
      <p style="text-align:center;" class="content">© Copyright Money Bag Thai 2017 All rights reserved.
        <br>Design by <a class="text-muted" href="https://nuirattapon.com" target="_blank">Nui Rattapon</a>

      </p>
    </div>

  </div>
</footer>
