.socialmedia {
  text-align: center;
  font-size: 300%;
  padding-top: 50px;
}
address{
    font-size: 160%;
    margin-top: 0px;
    text-align: center;
}
.copyright{
    margin-top: 30px;
    text-align: center;
    font-size: 90%;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-twitter-square:hover {
  color: #4099ff;
}

.fa-instagram:hover {
  color: #d047d1;
  background: -webkit-linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.openinghr{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  width: 270px;
  margin: 0 auto;
  padding: 15px 5px 5px;
  border-radius: 4px;
}
