<section class="section1">
  <div>
    Delicious take away Thai food in Christchurch
  </div>
</section>

<section class="section2">


  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          <h1>OUR STORY</h1>
        </header>
        <main>
          <p>
            At Moneybag Thai Takeaway we have a mouth watering selection of take away food available to you. We have all your favourite
            take away food options. Our menu has something for everyone including options to suit adults, children, fussy
            eaters, vegetarians, health conscious people and those who like to indulge! We have big meals, small meals, snacks,
            deserts and food that's great for sharing.
          </p>
          <p>
            All of the food we make here is prepared with the freshest ingredients and professional care. We embrace flavour and great
            food and our prices make Moneybag Thai Takeaway an affordable regular option.
          </p>
        </main>
      </div>
      <div class="col-md-6">
        <header>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          <h1>OUR PROMISE</h1>
        </header>
        <main>
          <p>
            We are striving to keep the tradition of affordable and hearty take away food alive in Christchurch. At Moneybag Thai Takeaway
            you can expect menu specials, quality food, fresh produce, delicious treats, friendly service, fast food, great
            value, healthy options, comfort food, No MSG in our food and satisfied tummy.
          </p>
          <p>
            For all your old favourites mixed with a great selection of modern menu options, drop in or give us a call now.
          </p>
        </main>
      </div>
    </div>
  </div>
</section>

<section class="section3">

</section>
