<section class="section1">
  <div>
    Delicious takeaway Thai food in Christchurch
  </div>
</section>

<section class="section3">
  <div class="container">
    <p>At Moneybag Thai Takeaway we have a mouth watering selection of take away food available to you. We have all your favourite
      take away food options.
    </p>
  </div>
</section>

<section class="section2">
  <div class="container">
    <header>
      <h1>Popular Dishes</h1>
      <img src="/assets/img/decor-gold.png" alt="">
      <div class="space-15"></div>
    </header>
    <main class="row">
      <div class="col-md-6">
        <img src="/assets/img/food-cover-2.jpg" alt="">
        <div class="space-15"></div>
        <figcaption class="caption">Green Curry</figcaption>
      </div>

      <div class="col-md-6">
        <img src="/assets/img/food-cover-2.jpg" alt="">
        <div class="space-15"></div>
        <figcaption class="caption">Green Curry</figcaption>
      </div>
    </main>

    <main class="row">
      <div class="col-md-6">
        <img src="/assets/img/food-cover-2.jpg" alt="">
        <div class="space-15"></div>
        <figcaption class="caption">Green Curry</figcaption>
      </div>

      <div class="col-md-6">
        <img src="/assets/img/food-cover-2.jpg" alt="">
        <div class="space-15"></div>
        <figcaption class="caption">Green Curry</figcaption>
      </div>
    </main>
  </div>
  <div class="space-15"></div>
  <div class="space-15"></div>
  <div class="space-15"></div>
  <button md-raised-button color="primary" routerLink="/menu">See Menu</button>
</section>


<section class="section3">
  <div class="container">
    <p>All of the food we make here is prepared with the freshest ingredients and professional care. We embrace flavour and
      great food and our prices make Moneybag Thai Takeaway an affordable regular option.
    </p>
  </div>
  <div class="space-15"></div>
  <div class="space-15"></div>
  <div class="space-15"></div>
  <img src="/assets/img/decor-gold.png" alt="">
  <div class="space-15"></div>
  <div class="space-15"></div>
  <div class="space-15"></div>
</section>
