<section class="section1">
  <div>
    Delicious take away Thai food in Christchurch
  </div>
</section>

<section class="section2">


  <div class="container">
    <header>
      <h1>Popular Dishes</h1>
      <img src="/assets/img/decor-gold.png" alt="">
    </header>
    <main class="row">
      <div class="col-md-6">
        <img src="/assets/img/food-cover-2.jpg" alt="">
        <div class="space-15"></div>
        <figcaption class="caption">Green Curry</figcaption>
      </div>

      <div class="col-md-6">
        <img src="/assets/img/food-cover-2.jpg" alt="">
        <div class="space-15"></div>
        <figcaption class="caption">Green Curry</figcaption>
      </div>
    </main>

    <main class="row">
      <div class="col-md-6">
        <img src="/assets/img/food-cover-2.jpg" alt="">
        <div class="space-15"></div>
        <figcaption class="caption">Green Curry</figcaption>
      </div>

      <div class="col-md-6">
        <img src="/assets/img/food-cover-2.jpg" alt="">
        <div class="space-15"></div>
        <figcaption class="caption">Green Curry</figcaption>
      </div>
    </main>
  </div>
  <div class="space-15"></div>
  <div class="space-15"></div>
  <button md-raised-button color="primary" style="background-color:#c90;" routerLink="/menu">See Menu</button>
</section>
